html,body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
}

.container {
  max-width: 720px;
  margin: 10px auto;
}

h1 {
  color: #fff;
  background: #f60;
  padding: 10px;
}

p {
  margin: 10px 0 20px 0;
}

.box {
  border: 1px solid #eee;
  border-left: 10px solid #f60;
  border-radius: 3px;
  padding: 10px;
  margin: 10px 0;  
}

.box > div {
  margin: 5px 0;
}

.banner {
  background: #f1f1f1;
  padding: 20px;
}

.banner h2 {
  font-size: 20px;
  margin: 0 0 20px 0;
}

.banner img {
  height: 100px;
  margin: 0 30px;
  padding: 5px;
}

.car-banner img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.car-list {
  margin: 0 0 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.car-card {
  display: inline-block;
  margin: 0 0 30px 0;
  text-align: center;
}

.car-card img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
}

.car-card span {
  display: block;
  margin-top: 10px
}